.encabezado{
    background-color:#1CD1B0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    margin:0%;
    padding:10px;
}
.inicio{
    background-color: #00669F;
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    margin: 0%;
    padding-bottom: 26px;
    padding-left: 28px;
    padding-top: 28px;
}

.batman{
    position: relative;
    background-color: blue;
    font-size: 40px;
    width: 300px;
    margin-left: 32px;
    margin-top: 154px;
    text-align: center;
}

.descripcion_batman{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 17px;
}

.bottom{
    background-color:#00669F;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    color:#F3F3F3;
    padding-right:35px;
    padding-left:35px;
    padding-bottom: 15px;
    padding-top: 15px;
}