body {
    background-image: url(../img/fondo.jpg);
    background-size:cover;
}

.center{
    display: flex;
    justify-content: center;
}

h1{
    font-size:45px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}